body {
  margin: 25px
}

label {
  font-weight: normal;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.limWidth {
  max-width: 500px;
}

.footer {
  font-size: 85%;
}

.table-nonfluid {
  width: auto !important;
}

#chart0 {
  overflow: auto;
  width: 100%;
  position: relative;
}

#loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  position: absolute;
  z-index: 1;
  top: 50%;
  margin: -25px 0 0 0px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
