body {
  padding-top: 1.5rem;
  font-size: 85%;
}

.form-control {
  font-size: 100%;
  line-height: 1.25;
}

.custom-select {
  height: calc(2.25rem - 2px);
  margin-right: 0px !important;
}

.tight-label {
  margin-right: 3px !important;
}

.custom-input {
  margin-right: 0px !important;
}

.form-inline button {
  margin: 0.25rem !important;
}

input[type='file'] {
  width: 200px;
}

/* the div containing the tubemap svg */
#tubeMapSVG {
  overflow: auto;
  width: calc(100% - 40px);
  position: relative;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-height: 75vh;
}

/* contains the spinning loader */
#loaderContainer {
  margin: 0 auto;
  padding: 40px;
}

/* spinning loader during graph construction */
#loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* spinning loader covering the "Go"-button during file uploads */
.smallLoader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 1;
  position: relative;
  left: 21px;
  margin-right: -21px;
  background-color: #6fa9fb;
}

/* small colored squares which are part of the graph's legen */
.color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #ccc;
  left: 5px;
  top: 5px;
}

.btn-secondary {
  background-color: #868e96;
  border-color: #868e96;
}

.btn-secondary:hover {
  background-color: #727b84;
  border-color: #6c757d;
}

.custom-input {
  height: calc(2.25rem - 2px);
}
